
{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
    <h1>About Us</h1>
    <p>Paylite Laptops is dedicated to providing high-quality laptops for all your needs.</p>

    <p>Header:

Who We Are and Why We Do What We Do

At Paylite laptops store, we are passionate about making technology accessible to everyone. Whether you’re a student, a professional, or a gamer, we believe that the right laptop should never be out of reach.

Our Mission:
To empower our customers by providing top-quality laptops through flexible and affordable payment solutions.

Our Promise:

High-quality laptops from trusted brands.
Transparent pricing and no hidden charges.
Exceptional customer service to guide you at every step.

 Why Choose Us?

Flexible payment options designed to suit your needs.
Expert advice to help you choose the best laptop for your requirements.
Hassle-free process from selection to delivery.</p>

    <<div class="section-images">
    <img src="{% static 'images/laptop7.jpg' %}" alt="lenovo">
    <img src="{% static 'images/laptop8.jpg' %}" alt="Dell">
    <img src="{% static 'images/laptop9.jpg' %}" alt="Acer">
    <img src="{% static 'images/laptop10.jpg' %}" alt="Macbook">
    <img src="{% static 'images/laptop11.jpg' %}" alt="Hp">
    <img src="{% static 'images/laptop12.jpg' %}" alt="Asus">

</div>

{% endblock %}
