{% extends "base.html" %}

{% block content %}
<h1>Customer Details</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Laptop</th>
            <th>Deposit</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.laptop.name }}</td>
            <td>${{ customer.deposit }}</td>
            <td>${{ customer.balance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
