{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
    <h1>Our Services</h1>
    <p>Flexible Payment Plans for Modern Laptops.We specialize in making laptops affordable through a unique payment model. Pay just 25% of the laptop's price upfront and enjoy a full year to pay off the balance in manageable installments.Warranty and Support,
All laptops come with manufacturer warranties and our dedicated after-sales support.
Delivery Service:
Get your laptop delivered right to your doorstep.</p>
    <p>How It Works:
        Select your laptop from our wide range of products, Pay 25% upfront,
        Take your laptop home and enjoy easy monthly installments.

    Explore Our Payment Plans Now;Get Started Today</p>

{% endblock %}
